extends base

block content
    main.main
        .user-view
            include _accountMenu

            .user-view__content
                .user-view__form-container
                    h2.heading-secondary.ma-bt-md My Reviews
                    p Your reviews will show here.